@font-face{
  /* font-family: 'Playfair';
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf); */
  /* font-family: 'Raleway';
  src: url(../fonts/Raleway/Raleway-Regular.ttf); */
  font-family: 'Libre';
  src: url(../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: 'Montserrat Bold';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: 'Montserrat Italic';
  src: url(../fonts/Montserrat-Italic.ttf);
}

/* General Styling */

body{
  color: black;
  font-family: 'Montserrat';
  font-size: 100%;
}


a{
  text-decoration: none;
  color: #00f;
}

h1{
  font-family: 'Libre';
  text-align: center;
  font-size: 40px;
  color: #00f;
}

strong{
  font-family: 'Monteserrat Bold';
}

em{
  font-family: 'Montserrat Italic';
}

img{
  width: 100%;
}

.expimg{
  width: 90%;
}

.home-img{
  width: 100%;
}

.ashley{
  text-align: center;
  font-size: 18px;
}

.think{
  margin-top: 5px;
}

#name, .email{
  text-decoration: none;
}

figcaption{
  text-align: center;
  margin: 10px auto;
}

/* Navigation */
nav {
  list-style-type: none;
  text-align: right;
  margin-top: 3em;
  margin-right: 3em;
}

nav ul li{
  display: inline;
  padding: 18px;
}

nav ul li a {
  text-decoration: none;
  color: #31393C;
  color: #00f;
  font-size: 20px;
  text-align: right;
}

nav a:hover{
  border-bottom: 4px solid #00f;
}


.navigation{
  position: relative;
  float: right;
}

.emphasis{
  color: #00f;
  font-family: 'Libre';
}


.project, .more{
  color: #00f;
  font-family: 'Libre';
  font-size: 18px;
}

.more{
  text-decoration: none;
}

.project-holder{
  margin-bottom: 40px;
}

.project-holder, .persona, .row{
  display: flex;
  flex-direction: row;
}

.project-space{
  margin-bottom: 200px;
}

.bold{
  font-weight: bold;
}

.clean{
  color: #2e7d32;
}

.moderate{
  color: #ff8f00;
}

.highrisk{
  color: #dd2c00;
}

.onpage{
  font-weight: bold;
}


/* Work Page */
.uxdesign{
  margin-right: 2em;
  margin-left: 2em;
  font-size: 2.8em;
}

.selected{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.home-descrip{
  /* margin-top: auto;
  margin-bottom: auto; */
  font-size: 25px;
}

.projectlist{
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 150px;
}

.middle{
  width: 500px;
}

.project-title{
  color: #00f;
  font-family: 'Libre';
  font-size: 30px;
  margin-top: 0px;
}

.proj-descrip{
  font-family: 'Montserrat';
  font-size: 20px;
}

.email{
  font-size: 30px;
}

.home-img{
  flex-grow: 3;
}

.home-descrip{
  flex-grow: 1;
}

.emailcenter{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

/* Project Styling */
.projcontainer, .aboutcontainer{
  margin-right: 5em;
  margin-left: 5em;
}

.contact-center{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title-description{
  font-size: 2.8em;
  font-family: 'Libre';
}

.imgcenter{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h2, h3{
  color: #00f;
  font-family: 'Libre';
}

h2{
  font-size: 35px;
}

h3{
  font-size: 25px;
}

p{
  font-size: 20px;
}

li{
  font-size: 18px;
}

/* .imgbottom{
  margin-bottom: 20px;
} */

.rowcenter{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.rowcenter img{
  margin: 10px
}

.tools{
  font-size: 15px;
}

/* Persona */
.persona-middle{
  width: 300px;
}
.persona-info p{
  font-size: 25px;
  font-size: 20px;
}

.persona-name{
  font-weight: bold;
  margin-bottom: 0;
  font-size: 25px;
}


.needs p{
  font-size: 18px;
}

.needs li{
  font-size: 15px;
}

.persona{
  padding: 30px 30px;
  background-color: #b9dcff;
}

.persona-col{
  flex-direction: column;
}

/* about */
.smaller{
  width: 300px;
}

/* gifs */
.gifs, .wireframes{
  width: 30%;
}


/* Resume Page */

.resume{
  width: 90%;
  display: block;
  margin: 5px auto;
}

.download-resume{
  text-align: center;
}

/* Clarity */
.userflow, .img80{
  width: 80%;
}

.img60{
  width: 60%;
}

.img40{
  width: 40%;
}

.img100{
  width: 100%;
}

/* SAP */
.sapgif{
  margin-bottom: 20px;
}

.img30{
  width: 30%;
}

.sapmargin{
  margin-left: 2em;
  margin-right: 2em;
}
/* Contact Page */
.contact-center{
  text-align: center;
}


/* hidden content */
.desktophide{
  visibility: hidden;
}



/* ipad 900 to 599 */
/* @media screen and (max-width: 900px){

} */


/* mobile 600px and under */
@media screen and (max-width: 600px){
nav{
  text-align: center;
  margin: 0;
}

nav ul{
  padding-left: 0;
}

nav ul li{
  padding: 0;
  display: block;
  margin-top: 10px;
}

img{
  width: 100%;
}

.gifs{
  width: 100%;
}

.wireframes{
  width: 100%;
}

/* Work(home) page */
.uxdesign{
  font-size: 1.8em;
  margin-left: 10px;
  margin-right: 10px;
}

.selected{
  margin-top: 10px;
  margin-bottom: 20px;
}

.projectlist{
  margin-right: 10px;
  margin-left: 10px;
}

.project-holder{
  flex-direction: column;
  margin-bottom: 20px;
}

.project-title{
  font-size: 25px;
}

.proj-descrip{
  font-size: 20px;
}

.project-order{
  flex-direction: column-reverse;
}


/* project pages */
.projcontainer{
  margin-left: 10px;
  margin-right: 10px;
}

.title-description{
  font-size: 2em;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
}

.row{
  flex-direction: column;
}

/* persona */
.persona, .persona-col {
  flex-direction: column;
}
/*
about */
.aboutcontainer{
  margin-left: 10px;
  margin-right: 10px;
}

/* Clarity*/
.userflow, .img80{
  width: 100%;
}
/*
Image size changes */

.img60, .expimg, .img40{
  width: 100%;
}

.rowcenter img{
  margin: 5px 0px;
}

/* hidden content */
.desktophide{
  visibility: visible;
  margin-top: 5px;
}

.mobilehide{
  visibility: hidden;
}

}
