@font-face{
  font-family: 'Playfair';
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
  font-family: 'Raleway';
  src: url(../fonts/Raleway/Raleway-Thin.ttf);
}

body{
  color: black;
  font-family: 'Raleway';
}

.emphasis{
  color: #00f;
  /* font-family:'Playfair'; */
}


.project, .more{
  color: #00f;
}

.project-holder, .persona, .row{
  display: flex;
  flex-direction: row;
}

.bold{
  font-weight: bold;
}

.clean{
  color: #2e7d32;
}

.moderate{
  color: #ff8f00;
}

.highrisk{
  color: #dd2c00;
}
